.d-flex {
  display: flex;
}
.capitalize {
  text-transform: capitalize;
}
.container {
  width: 61%;
  margin: 0 auto;
}
.template-button {
  display: inline-block;
  background-color: rgb(74, 74, 75);
  color: white;
  padding: 16px 29px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  z-index: 0;
}
.template-button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: red;
  z-index: -1;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.template-button:hover::after {
  width: 100%;
}
.padding-top-200{
    padding-top: 200px;
}
