@import "root.css";

header,
.banner,
.arrival {
  font-family: "Josefin Sans", sans-serif;
}
/* Header  */
header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #141517;
  padding: 0 7%;
  position: fixed;
  background-color: white;
  z-index: 100;
}
header ul {
  align-items: center;
  gap: 0 42px;
}
header > nav > ul > li {
  padding: 41px 0;
}
header li a,
.dropdown {
  transition: 0.3s;
}
.active,
header li a:hover {
  color: var(--red-500);
}
.drop {
  position: relative;
}

.hot {
  background-color: var(--red-500);
  color: white;
  display: inline-block;
  padding: 10% 15%;
  border-radius: 25%;
  position: absolute;
  top: 15%;
  right: -30px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  font-size: 10px;
}
.hamburger {
  display: none;
}

/* Banner */
.banner {
  padding-top: 100px;
  width: 100%;
  overflow: hidden;

  height: max-content;
  background-color: rgb(240, 240, 242);
}
.banner .container {
  align-items: center;
}
.banner h1 {
  color: rgb(11, 28, 57);
  font-size: 96px;
  line-height: 120%;
}
.banner p {
  font-family: "Roboto", sans-serif;
  line-height: 150%;
  margin: 8% 0;
  width: 85%;
}
.banner a,
.banner p,
.banner h1 {
  animation: BannerContent 1s linear 0.5s 1 alternate backwards;
}
.banner-content {
  overflow: hidden;
}
.banner img {
  position: relative;
  left: 9.3%;
  animation: Purge 1s linear infinite alternate;
}
@keyframes BannerContent {
  from {
    transform: translateX(-110%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes Purge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

/* main  */

.arrival h2 {
  font-size: 48px;
  margin-bottom: 60px;
}
.products {
  gap: 0 30px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-body{
    padding: 30px 0;
}
.product-body h3{
    font-size: 24px;
    margin-bottom: 20px;
}
.product-body p{
    font-size: 18px;
    color: var(--red-500);
}
.product-img{
    overflow: hidden;
}
.products img{
    transition: 1s;
}
.products img:hover{
    transform: scale(1.1);
}
