.d-flex{
    display: flex;
}
.capitalize{
    text-transform: capitalize;
}
.border-top-right{
    border-top: 0.5px solid rgb(187, 187, 187);
    border-right: 0.5px solid rgb(187, 187, 187);
}
.border-bottom{
    border-bottom: 0.5px solid rgb(187, 187, 187);
}
